Repository vshn/appcat-service-postgresql, pull requests merged in 2022-06, with the labels that each got.

#68 Add instance deletion
  Makefile
  operator/operatortest/envtest.go
  operator/standalone/controller.go
  operator/standalone/create_it_test.go
  operator/standalone/create_test.go
  operator/standalone/delete.go
  operator/standalone/delete_it_test.go
Labels: enhancement, area:operator

#79 Add K8up permissions to clusterrole
  charts/provider-postgresql/Chart.yaml
  charts/provider-postgresql/README.md
  charts/provider-postgresql/templates/clusterrole.yaml
Labels: change, chart:provider-postgresql, area:chart

#84 Fix deletion bugs in various places
  apis/postgresql/v1alpha1/connectionsecret.go
  apis/postgresql/v1alpha1/connectionsecret_test.go
  operator/standalone/create.go
  operator/standalone/delete.go
  operator/standalone/delete_it_test.go
Labels: bug, area:operator

#89 Use controllerutil to insert or update objects
  operator/standalone/controller.go
  operator/standalone/create.go
Labels: bug

#88 Implement updating instances
  README.md
  apis/conditions/conditions.go
  apis/postgresql/v1alpha1/postgresql_standalone_operator_config_types.go
  apis/postgresql/v1alpha1/postgresql_standalone_types.go
  apis/postgresql/v1alpha1/zz_generated.deepcopy.go
  docs/modules/ROOT/examples/installation/config-v14.yaml
  generate_sample.go
  operator/standalone/context.go
  operator/standalone/controller.go
  operator/standalone/create.go
  operator/standalone/create_it_test.go
  operator/standalone/create_test.go
  operator/standalone/delete_it_test.go
  operator/standalone/pipeline.go
  operator/standalone/pipeline_it_test.go
  operator/standalone/pipeline_test.go
  operator/standalone/setup.go
  operator/standalone/update.go
  operator/standalone/update_it_test.go
  operator/standalone/update_test.go
  package/crds/postgresql.appcat.vshn.io_postgresqlstandaloneoperatorconfigs.yaml
  package/crds/postgresql.appcat.vshn.io_postgresqlstandalones.yaml
  package/rbac/role.yaml
  package/samples/postgresql.appcat.vshn.io_postgresqlstandaloneoperatorconfig.yaml
Labels: enhancement, area:operator

#96 Add PVC permissions to cluster role in chart
  README.md
  charts/provider-postgresql/Chart.yaml
  charts/provider-postgresql/Makefile
  charts/provider-postgresql/README.md
  charts/provider-postgresql/templates/clusterrole.yaml
Labels: change, chart:provider-postgresql, area:chart
